#box {
	width: 60%;
	margin: auto;
	background: #EDB5AE;
	opacity: 0.70;
	text-align: center;
	font-size: 80px;
	font-color: red;
}
#box div {
	padding: 20px;
	color: #000;
}
#boxxx {
	width: 60%;
	margin: auto;
	background: #EDB5AE;
	opacity: 0.70;
	text-align: center;
	font-size: 30px;
	font-color: red;
}
#stopka {
	clear: both;
	width: 100%;
	height: 65px;
	margin-top: 50px;
	text-align: center;
	color: rgba(0,0,0,0.6);
	background: #ffffff;
}
.mail {
	color: blue;
}
.blur { 
	
	width: 100%;
	-webkit-filter: blur(10px);
	filter: blur(10px);
	position: fixed;
	opacity: 0.50;
}
.content {
	width: 100%;
	height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  overflow-y: auto; 
}